<script lang="ts">
import { addTodo } from "../todo.store";
import { v4 } from "uuid";
let newItem = "";

const addNewItem = () => {
  if (newItem.length < 1) return;
  addTodo({
    id: v4(),
    name: newItem,
    isDone: false,
  });

  newItem = "";
};

const addOnEnter = ({ key }: KeyboardEvent) =>
  key.toLowerCase() === "enter" ? addNewItem() : undefined;

</script>

<div class="container w-full flex justify-center shadow-xl ">
  <input
    class="w-full p-4 text-lg focus:outline-none border-2 border-gray-200 "
    placeholder="New Item..."
    bind:value="{newItem}"
    on:keydown="{addOnEnter}" />
  <button class="w-8 bg-green-500 text-3xl" on:click="{addNewItem}">+</button>
</div>
