<script lang="ts">
import { fly } from "svelte/transition";
import { quintOut } from "svelte/easing";
import { removeTodo, updateToDo } from "../todo.store";

export let id: string;
export let name: string;
export let isDone: boolean;

const toggleToDoItem = () => updateToDo({ id, name, isDone: !isDone });

const deleteItem = () => {
  const answer = confirm("Are you sure you want to delete item?");
  if (answer) removeTodo({ id, name, isDone });
};

const flyEffects = {
  in: {
    duration: 100,
    x: 100,
    easing: quintOut,
  },
  out: {
    delay: 50,
    duration: 100,
    x: 200,
    easing: quintOut,
  },
};

</script>

<div
  class="shadow-lg border-2 border-gray-200 hover:border-4 hover:border-blue-200 mb-1 flex"
  in:fly="{flyEffects.in}"
  out:fly="{flyEffects.out}"
  alt="{id}">
  <button
    class="inline-block w-4 border-2 border-transparent mr-2 focus:outline-none"
    class:bg-red-400="{!isDone}"
    class:bg-green-400="{isDone}"
    on:click="{toggleToDoItem}"></button>
  <span class="text-lg w-full p-4">{name}</span>
  <span
    class="inline-block w-10 text-4xl mt-2 align-center"
    on:click="{deleteItem}">
    &#x1F525;
  </span>
</div>
