<script lang="ts">
import ToDoInput from "./lib/todo.input.svelte";
import ToDoListItem from "./lib/todo.list-item.svelte";
import { todoListStore } from "./todo.store";

</script>

<svelte:head>
  <title>To Do List</title>
</svelte:head>
<main class="w-3/4 mx-auto pt-4">
  <ToDoInput />
  <section class="mt-2">
    {#each $todoListStore as item, i (i)}
      <ToDoListItem {...item} />
    {/each}
  </section>
</main>
